.wrapper {
  position: relative;
  max-width: 1100px;
  display: flex;
  text-align: center;
  background-color: #fff;
  padding: 24px 320px 24px 60px;
  border-radius: 40px;
  @media screen and (max-width: 480px) {
    max-width: 90vw;
    padding: 20px 200px 20px 30px;
  }
}

.btn {
  position: absolute;
  top: -0.5px;
  right: -1px;
  height: calc(100% + 1px);
  background-color: #686de0;
  border-radius: 40px;
  font-weight: 700;
  font-size: 25px;
  line-height: 29.3px;
  padding: 25px 53px;
  @media screen and (max-width: 480px) {
    font-size: 20px;
    line-height: 24.3px;
    padding: 20px 20px;
  }
}
