.hero_section {
  position: relative;
  padding-bottom: 105px;

  @media screen and (max-width: 480px) {
    padding-bottom: 50px;
  }
}

.hero_bg {
  position: absolute;
  top: -190px;
  right: 0;
  z-index: -1;

  @media screen and (max-width: 480px) {
    top: -130px;
    width: 177.75px;
    height: 366.6px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  &_title {
    max-width: 1207px;
    padding: 30px 0;
    margin-bottom: 20px;

    @media screen and (max-width: 480px) {
      max-width: 55%;
      margin-bottom: 0;
    }
  }
  &_text {
    max-width: 658px;
    margin-bottom: 45px;

    @media screen and (max-width: 480px) {
      max-width: 90%;
      margin-bottom: 30px;
    }
  }

  &_btn {
    max-width: 529px;
    padding: 22px 40px;
    font-size: 30px;
    line-height: 35.16px;

    @media screen and (max-width: 480px) {
      max-width: 100%;
      padding: 20px 30px;
      font-size: 22px;
      line-height: 30px;
    }
  }
}
