.user_section {
  padding: 30px 0;
  max-width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;

  @media screen and (max-width: 480px) {
    gap: 15px;
  }
}

.left_title {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  border-bottom: 1px solid #686de0;
  width: 100%;

  @media screen and (max-width: 480px) {
    font-size: 25px;
    line-height: 40px;
  }
}

.user_wrapper {
  display: flex;
  gap: 30px;
}

.user_section img {
  @media screen and (max-width: 480px) {
    width: 170px;
    height: 100px;
  }
}

.user_avatar {
  border-radius: 50%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user_name {
  font-weight: 600;
  font-size: 36px;
  line-height: 42.19px;

  @media screen and (max-width: 480px) {
    font-size: 28px;
  }
}

.user_location {
  font-size: 15px;
  font-weight: 400;
  line-height: 17.4px;
  margin-bottom: 5px;

  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.user_location:hover svg path {
  fill: red;
}

.user_description {
  font-size: 15px;
  font-weight: 400;
  line-height: 17.4px;

  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}
