.later_section {
  padding-top: 15px;
  padding-bottom: 55px;
}

.title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;

  @media screen and (max-width: 480px) {
    font-size: 22px;
    line-height: 27px;
  }
}

.title_link {
  text-decoration: underline;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
}

.grid_wrapper {
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 32px;
  grid-column-gap: 26px;

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.grid_element {
  display: flex;
  gap: 10px;

  @media screen and (max-width: 480px) {
    &:not(:nth-child(-n + 5)) {
      display: none;
    }
  }
}

.gridimg {
  border-radius: 5px;
}

.grid_text {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.92px;
  text-align: left;
  color: #cfcfcf;
}

.grid_name {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.13px;
  text-decoration: underline;
  margin-bottom: 5px;
}

.grid_name:hover + .grid_element img {
  transform: scale(1.05);
}

.grid_duration {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.08px;
}

.grid_subtext {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
