.connected_section {
  padding: 0 0 55px;
  max-width: 100%;
}

.connected_section img {
  @media screen and (max-width: 480px) {
    height: 70px;
    aspect-ratio: 1;
  }
}

.connected_accs {
  overflow: hidden;
  display: flex;
  gap: 150px;
  padding-left: 15px;
  overflow-x: scroll;
  scrollbar-width: none;

  @media screen and (max-width: 480px) {
    gap: 110px;
  }
}

.connected_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  margin-bottom: 14px;

  @media screen and (max-width: 480px) {
    font-size: 22px;
    line-height: 27px;
  }
}

.facebook {
  display: flex;
  position: relative;
  opacity: 0.5;
  transition: 0.2s;

  @media screen and (max-width: 480px) {
    opacity: 1;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.facebook:hover {
  opacity: 1;
}

.youtube {
  display: flex;
  position: relative;
  opacity: 0.5;
  transition: 0.2s;

  @media screen and (max-width: 480px) {
    opacity: 1;
    svg {
      width: 22px;
      height: 15px;
    }
  }
}

.youtube:hover {
  opacity: 1;
}

.vkontakte {
  display: flex;
  position: relative;
  opacity: 0.5;
  transition: 0.2s;

  @media screen and (max-width: 480px) {
    opacity: 1;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.vkontakte:hover {
  opacity: 1;
}

.user_avatar {
  border-radius: 50%;
  position: relative;
}

.svg {
  position: absolute;
  left: -15px;
  top: 50px;

  @media screen and (max-width: 480px) {
    left: -15px;
    top: 30px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  gap: 5px;
}

.acc_name {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.13px;

  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: 14.13px;
    width: 110%;
  }
}

.acc_link {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.08px;
  text-decoration: underline;
}
