.rating_section {
  padding-top: 15px;
  padding-bottom: 55px;
}

.title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;

  @media screen and (max-width: 480px) {
    font-size: 22px;
    line-height: 27px;
  }
}

.title_link {
  text-decoration: underline;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
}

.grid_wrapper {
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 32px;
  grid-column-gap: 26px;

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.grid_element {
  display: flex;
  gap: 10px;

  @media screen and (max-width: 480px) {
    &:not(:nth-child(-n + 5)) {
      display: none;
    }
  }
}

.image_mark {
  position: relative;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 500;
}

.gridimg {
  border-radius: 5px;
  display: block;
}

.grid_mark {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 5px 0px 5px 5px;

  bottom: 0;
  right: 0;

  &_r0 {
    background-color: #777777;
  }

  &_r1 {
    background-color: #d11919;
  }

  &_r2 {
    background-color: #d13a19;
  }

  &_r3 {
    background-color: #d14519;
  }

  &_r4 {
    background-color: #d16619;
  }

  &_r5 {
    background-color: #998230;
  }

  &_r6 {
    background-color: #959930;
  }

  &_r7 {
    background-color: #719930;
  }

  &_r8 {
    background-color: #2c9524;
  }

  &_r9 {
    background-color: #249543;
  }

  &_r10 {
    background-color: #2dbb55;
  }
}

.grid_text {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.92px;
  text-align: left;
  color: #cfcfcf;
}

.grid_name {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.13px;
  text-decoration: underline;
  margin-bottom: 5px;
}

.grid_name:hover + .grid_element img {
  transform: scale(1.05);
}

.grid_duration {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.08px;
}

.grid_subtext {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
