.news_section {
  margin-bottom: 185px;

  @media screen and (max-width: 480px) {
    margin-bottom: 0;
  }
}

.news_bg {
  position: absolute;
  top: -120px;
  right: 0;
  z-index: -1;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.news {
  display: flex;
  gap: 114px;
  @media screen and (max-width: 480px) {
    flex-direction: column-reverse;
    gap: 57px;
  }

  &_left {
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-end;
  }

  &_pic {
    position: relative;
    border-radius: 20px;
    min-width: 148px;

    @media screen and (max-width: 480px) {
      height: 100%;
    }

    &_title {
      position: absolute;
      width: 70%;
      bottom: 50px;
      left: 30px;
      font-weight: 700;
      font-size: 30px;
      line-height: 35.16px;

      @media screen and (max-width: 480px) {
        width: 100%;
        font-size: 20px;
        line-height: 25.16px;
        bottom: 25px;
      }
    }
  }

  &_text {
    display: flex;
    max-width: 50%;
    flex-direction: column;

    @media screen and (max-width: 480px) {
      min-width: 100%;
    }

    &_top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 47px;

      &_href {
        display: flex;
        align-items: center;
        text-decoration: underline;
        font-size: 20px;
        line-height: 23.44px;
      }
    }

    &_grid {
      display: flex;
      flex-direction: column;
      gap: 15px;

      &_content {
        display: flex;

        &_img {
          border-radius: 15px;
          object-fit: cover;
          margin-right: 16px;
          min-width: 148px;
        }
      }
    }
  }
}
