.popular {
  &_section {
    position: relative;
    padding: 105px 0 105px;

    @media screen and (max-width: 480px) {
      padding: 50px 0 50px;
    }
  }

  &_title {
    margin-bottom: 46px;

    @media screen and (max-width: 480px) {
      margin-bottom: 23px;
    }
  }

  &_bg {
    position: absolute;
    top: 160px;
    left: 0;
    z-index: -1;

    @media screen and (max-width: 480px) {
      width: 227px;
      height: 690px;
      top: 40px;
    }
  }
}

.slider {
  max-width: 1172px;
  margin: 0 auto;
  display: flex;
  padding: 30px 98px;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px #92929233;
  background-color: #2c2c54;

  @media screen and (max-width: 480px) {
    padding: 20px;
  }
}

.btn {
  width: 95%;
  padding: 15px 0;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.img {
  display: none;
  border-radius: 30px;

  &.active {
    display: block;
  }

  @media screen and (max-width: 480px) {
    object-fit: cover;
    height: 230px;
  }
}
