.burger {
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  z-index: 9999;

  display: none;

  @media screen and (max-width: 480px) {
    display: inherit;
  }
}

.bar {
  width: 31.5px;
  height: 3px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.active .bar:nth-child(2) {
  opacity: 0;
}

.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-16px, -15px);
}
