:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

button,
input {
  font-family: inherit;
}

section {
  padding: 105px 0;
  position: relative;
  @media screen and (max-width: 480px) {
    padding: 50px 0;
  }
}

.mobile {
  display: none;

  @media screen and (max-width: 480px) {
    display: inherit;
  }
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2c2c54;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 25px;
  line-height: 32.5px;
  color: #fff;
  cursor: default;

  @media screen and (max-width: 480px) {
    font-size: 15px;
    line-height: 24.5px;
  }
}

img {
  max-width: 100%;
}

input {
  border: none;
  outline: none;
  font-size: 25px;
  line-height: 32.5px;
  font-weight: 500;
  width: 100%;

  @media screen and (max-width: 480px) {
    font-size: 20px;
    line-height: 27.5px;
  }
}

input::placeholder {
  color: #c9c9c9;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 93.75px;

  @media screen and (max-width: 480px) {
    font-size: 30px;
    line-height: 35.75px;
  }
}

h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 58.59px;

  @media screen and (max-width: 480px) {
    font-size: 22px;
    line-height: 27px;
  }
}

h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35.16px;
  text-decoration: underline;

  @media screen and (max-width: 480px) {
    font-size: 20px;
    line-height: 25.16px;
  }
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.13px;
  text-decoration: underline;
}

li {
  font-size: 25px;
  line-height: 29.3px;
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
