.forum_top {
  position: relative;
}

.forum_bot {
  position: relative;
  background-color: #686de0;
}

.forum_bg {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;

  @media screen and (max-width: 480px) {
    top: -30px;
  }
}

.forum_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  @media screen and (max-width: 480px) {
    margin-bottom: 30px;
  }
}

.forum_href {
  display: flex;
  text-decoration: underline;
  align-items: center;

  @media screen and (max-width: 480px) {
    font-size: 20px;
  }
}

.grid_top {
  padding-top: 57px;
  display: grid;
  grid-template-columns: 930px 680px;
  column-gap: 50px;
  margin-bottom: 101px;

  @media screen and (max-width: 480px) {
    margin-bottom: 0;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 37px;
    padding-bottom: 37px;
  }
}

.grid_bot {
  display: grid;
  grid-template-columns: 680px 930px;
  column-gap: 50px;
  padding-bottom: 45px;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.grid_content {
  display: flex;
  border-radius: 20px;
  background-color: #2c2c54;

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.grid_rigth {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 40px 0 40px;

  @media screen and (max-width: 480px) {
    padding: 20px;
  }
}

.grid_title {
  font-weight: 700;
  font-size: 25px;
  line-height: 32.5px;
}

.grid_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 72px;

  @media screen and (max-width: 480px) {
    margin-bottom: 0;
  }
}

.grid_btn {
  color: #686de0;
}

.forum_img {
  border-radius: 20px 0 0 20px;
  display: block;

  @media screen and (max-width: 480px) {
    border-radius: 20px 20px 0 0;
    width: 100%;
  }
}
