.header {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (max-width: 1200px) {
    justify-content: space-between;
  }

  &_logo {
    margin-right: 300px;

    @media screen and (max-width: 1200px) {
      margin-right: 0;
    }

    @media screen and (max-width: 480px) {
      width: 125px;
      height: 60px;
    }
  }

  &_nav {
    margin-right: auto;

    @media screen and (max-width: 1200px) {
      margin-right: 0;
    }
  }

  &_list {
    display: flex;
    gap: 118px;

    @media screen and (max-width: 480px) {
      position: fixed;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #2c2c54;
      z-index: 1;

      &_active {
        display: flex;
      }
    }
  }

  &_btns {
    display: flex;
    gap: 30px;
  }
}
