.right_section {
  max-width: 100%;
  padding: 30px 15px;

  @media screen and (max-width: 480px) {
    display: none;
  }

  &_mobile {
    display: none;

    @media screen and (max-width: 480px) {
      padding: 30px 0;
      display: block;
    }
  }
}

.scroll_section {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 30px 15px;

  @media screen and (max-width: 480px) {
    width: 120%;
    padding: 0;
    height: auto;
    left: -20px;
  }
}

.right_title {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  border-bottom: 1px solid #686de0;
  width: 100%;

  @media screen and (max-width: 480px) {
    font-size: 25px;
    line-height: 33px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;

  @media screen and (max-width: 480px) {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 10px;
    padding: 15px 15px;
  }
}

.grid_content {
  display: flex;
  border-radius: 20px;
  background-color: #2c2c54;
  box-shadow: 0px 0px 15px 0px #92929233;

  @media screen and (max-width: 480px) {
    min-width: 400px;
    margin-left: 5px;
  }
}

.grid_rigth {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 18px 12px;

  @media screen and (max-width: 480px) {
    padding: 10px 10px 0 10px;
  }
}

.grid_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 18.2px;
}

.grid_text {
  font-weight: 500;
  margin-bottom: auto;
  font-size: 11px;
  line-height: 14.3px;

  @media screen and (max-width: 480px) {
    margin-bottom: 0;
  }
}

.grid_btn {
  color: #686de0;
  font-size: 14px;
  line-height: 16.41px;
}

.forum_img {
  border-radius: 20px 0 0 20px;
  display: block;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}
