.watchlater_title {
  display: flex;
  justify-content: end;
  margin-bottom: 42px;
}

.films {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 40px;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.card {
  max-width: 420px;
  padding: 30px;
  border-radius: 20px;
  background-color: #2c2c54;
  box-shadow: 0px 0px 10px 0px #92929233;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;

  @media screen and (max-width: 480px) {
    padding: 20px;
    gap: 20px;
  }
}

.card:hover {
  box-shadow: 0px 0px 30px 0px #92929233;
}

.img {
  transition: transform 0.3s ease;
  @media screen and (max-width: 480px) {
    object-fit: contain;
    height: 416px;
  }
}

.card:hover .img {
  transform: scale(1.05);
}

.card:hover .btn {
  transform: scale(0.95);
}

.btn {
  width: 95%;
  padding: 17px 95px;
  transition: transform 0.3s ease;

  @media screen and (max-width: 480px) {
    width: 100%;
    padding: 15px 0;
  }
}

.full_list {
  display: flex;
  justify-content: end;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
  text-decoration: underline;
}
