.footer_bg {
  margin-top: auto;
  background: #2c2c54;
}

.footer_top {
  padding: 50px 0;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 480px) {
    text-align: center;
    align-items: center;
    padding: 30px 0 0 0;
  }
}

.text {
  max-width: 38%;
  margin-bottom: 28px;

  span {
    font-weight: 600;
    text-decoration: underline;
  }

  @media screen and (max-width: 480px) {
    max-width: 100%;
    font-size: 15px;
  }
}

.privacy {
  margin-top: 20px;
  font-size: 16px;
  line-height: 20.8px;
  color: #5b5b5b;
  span {
    color: #686de0;
  }
  @media screen and (max-width: 480px) {
    font-size: 11px;
  }
}

.footer {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (max-width: 480px) {
    justify-content: center;
  }

  &_nav {
    margin-left: auto;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  &_list {
    display: flex;
    gap: 118px;
  }

  &_logo {
    @media screen and (max-width: 480px) {
      width: 125px;
      height: 60px;
    }
  }
}
