.button {
  border-radius: 5px;
  background-color: #686de0;
  color: #2c2c54;
  font-weight: 700;
  font-size: 25px;
  line-height: 29.3px;

  &_withshadow {
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}
