.left_section {
  min-width: 65%;
  padding-right: 15px;
  border-right: 2px dashed #272b84;

  @media screen and (max-width: 480px) {
    max-width: 100%;
    border-right: none;
    padding-right: 0;
  }
}
